body {
    margin: 0;
}

.game {
    display: flex;
}

.frame, .throw, .number {
    box-shadow: 2px 0 0 0 #333333,
    0 2px 0 0 #333333,
    2px 2px 0 0 #333333, /* Just to fix the corner */ 2px 0 0 0 #333333 inset,
    0 2px 0 0 #333333 inset;
}

.frame {
    display: flex;
    width: 61px;
    min-width: 61px;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-family: "Lucida Console", Monaco, monospace
}

.number {
    flex-basis: 100%;
}

.throw {
    width: 18px;
    height: 20px;
}

.frame:nth-of-type(10) .throw {
    flex-grow: 1;
}

.total {
    flex-basis: 100%;
    height: 30px;
}

.total span {
    vertical-align: middle;
    line-height: 30px;
}

.number,
.throw:not(:empty),
.total {
    text-align: center;
}

.floating-action {
    position: fixed;
    right: 24px;
    bottom: 24px;
}

.logo .bowl {
    animation: roll 2s linear infinite;
}

@keyframes roll {
    from {
        transform-origin: center;
        transform: rotate(0deg);
    }

    to {
        transform-origin: center;
        transform: rotate(360deg)
    }
}

@media screen and (max-width: 640px) {
    .floating-action {
        right: 16px;
        bottom: 16px;
    }

}